In [97]:
import pandas as pd
import numpy as np

In [98]:
school_data = "Resources/schools_complete.csv"
student_data = "Resources/students_complete.csv"

school_data = pd.read_csv(school_data)
student_data = pd.read_csv(student_data)
complete_data = pd.merge(student_data, school_data, how="left", on=["school_name"])

## District Summary

In [99]:
# total school count
school_names = school_data['school_name'].unique()
total_schools = len(school_names)
total_schools

# student count
total_students = school_data['size'].sum()
total_students

# total budget
total_budget = school_data['budget'].sum()
total_budget

# average math score
avg_math_score = student_data['math_score'].mean()
avg_math_score

# average reading score
avg_read_score = student_data['reading_score'].mean()
avg_read_score

# percentage of passing math score
passing_math = student_data.loc[student_data['math_score'] >= 70]['math_score'].count()
pass_math = passing_math/total_students
pass_math

# percentage of passing reading score
passing_read = student_data.loc[student_data['reading_score'] >= 70]['reading_score'].count()
pass_read = passing_read/total_students
pass_read

# convert info to dataframe
district_summary = pd.DataFrame({
    
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [avg_math_score],
    "Average Reading Score": [avg_read_score],
    "% Passing Math": [pass_math],
    "% Passing Reading":[pass_read],

})

# re-format numbers
district_summary.style.format({"Total Budget": "${:,.2f}", 
                       "Average Math Score": "{:.4f}",
                       "Average Reading Score": "{:.4f}", 
                       "% Passing Math": "{:.3%}", 
                       "% Passing Reading": "{:.3%}"})

## School Summary

In [100]:
# group by school name
school_group = complete_data.set_index('school_name').groupby(['school_name'])

#school types
school_types = school_data.set_index('school_name')['type']

# total students by school
stu_by_school = school_group['Student ID'].count()

# school budget
sch_budget = school_data.set_index('school_name')['budget']

# budget per student
stu_budget = school_data.set_index('school_name')['budget']/school_data.set_index('school_name')['size']

# avg scores by school
avg_math = school_group['math_score'].mean()
avg_read = school_group['reading_score'].mean()

# % passing scores
pass_math_sch = complete_data[complete_data['math_score'] >= 70].groupby('school_name')['Student ID'].count()/stu_by_school 
pass_read_sch = complete_data[complete_data['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/stu_by_school 
overall_sch = complete_data[(complete_data['reading_score'] >= 70) & (complete_data['math_score'] >= 70)].groupby('school_name')['Student ID'].count()/stu_by_school

# create dataframe
school_summary = pd.DataFrame({
    "School Type": school_types,
    "Total Students": stu_by_school,
    "Total School Budget": sch_budget,
    "Per Student Budget": stu_budget,
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math_sch,
    '% Passing Reading': pass_read_sch,
    "Overall Passing Rate": overall_sch
})

# format numbers
school_summary.style.format({'Total Students': '{:,}', 
                          "Total School Budget": "${:,}", 
                          "Per Student Budget": "${:.2f}",
                          'Average Math Score': "{:.6f}", 
                          'Average Reading Score': "{:.6f}", 
                          "% Passing Math": "{:.6%}", 
                          "% Passing Reading": "{:.6%}", 
                          "Overall Passing Rate": "{:.6%}"})

## Top Performing Schools

In [101]:
# top 5 performing schools by passing rate
top_5 = school_summary.sort_values("Overall Passing Rate", ascending = False)
top_5.head().style.format({'Total Students': '{:,}',
                           "Total School Budget": "${:,}", 
                           "Per Student Budget": "${:.2f}", 
                           "% Passing Math": "{:.6%}", 
                           "% Passing Reading": "{:.6%}", 
                           "Overall Passing Rate": "{:.6%}"})

## Bottom Performing Schools

In [102]:
# bottom 5 performing schools by passing rate
bottom_5 = top_5.tail()
bottom_5 = bottom_5.sort_values('Overall Passing Rate')
bottom_5.style.format({'Total Students': '{:,}', 
                       "Total School Budget": "${:,}", 
                       "Per Student Budget": "${:.2f}", 
                       "% Passing Math": "{:.6%}", 
                       "% Passing Reading": "{:.6%}", 
                       "Overall Passing Rate": "{:.6%}"})

## Math Score by Grade

In [103]:
# average math score for school by grade level 
ninth_math = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["math_score"].mean()
tenth_math = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["math_score"].mean()
eleventh_math = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["math_score"].mean()
twelfth_math = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["math_score"].mean()

# create dataframe
math_scores = pd.DataFrame({
        "9th": ninth_math,
        "10th": tenth_math,
        "11th": eleventh_math,
        "12th": twelfth_math
})
math_scores = math_scores[['9th', '10th', '11th', '12th']]
math_scores.index.name = "School"

# format
math_scores.style.format({'9th': '{:.6f}', 
                          "10th": '{:.6f}', 
                          "11th": "{:.6f}", 
                          "12th": "{:.6f}"})

## Reading Score by Grade

In [104]:
# average reading score for school by grade level
ninth_reading = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["reading_score"].mean()
tenth_reading = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["reading_score"].mean()
eleventh_reading = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["reading_score"].mean()
twelfth_reading = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["reading_score"].mean()

# create dataframe
reading_scores = pd.DataFrame({
        "9th": ninth_reading,
        "10th": tenth_reading,
        "11th": eleventh_reading,
        "12th": twelfth_reading
})
reading_scores = reading_scores[['9th', '10th', '11th', '12th']]
reading_scores.index.name = "School"

# format
reading_scores.style.format({'9th': '{:.6f}', 
                             "10th": '{:.6f}', 
                             "11th": "{:.6f}", 
                             "12th": "{:.6f}"})

## Scores by School Spending

In [105]:
# create bins for spending
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]
complete_data['spending_bins'] = pd.cut(complete_data['budget']/complete_data['size'], spending_bins, labels = group_names)

# group by spending
by_spending = complete_data.groupby('spending_bins')

# get averages
avg_math = by_spending['math_score'].mean()
avg_read = by_spending['reading_score'].mean()
pass_math = complete_data[complete_data['math_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()
pass_read = complete_data[complete_data['reading_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()
overall = complete_data[(complete_data['reading_score'] >= 70) & (complete_data['math_score'] >= 70)].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()

            
# create dataframe           
scores_by_spend = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall
            
})

scores_by_spend.index.name = "Spending Ranges (Per Student)"
scores_by_spend = scores_by_spend.reindex(group_names)

# re-format
scores_by_spend.style.format({'Average Math Score': '{:.6f}', 
                              'Average Reading Score': '{:.6f}', 
                              '% Passing Math': '{:.6%}', 
                              '% Passing Reading':'{:.6%}', 
                              'Overall Passing Rate': '{:.6%}'})

## Scores by School Size

In [106]:
# create bins for school size
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
complete_data['size_bins'] = pd.cut(complete_data['size'], size_bins, labels = group_names)

# group by size
by_size = complete_data.groupby('size_bins')

# get averages 
avg_math = by_size['math_score'].mean()
avg_read = by_size['math_score'].mean()
pass_math = complete_data[complete_data['math_score'] >= 70].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()
pass_read = complete_data[complete_data['reading_score'] >= 70].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()
overall = complete_data[(complete_data['reading_score'] >= 70) & (complete_data['math_score'] >= 70)].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()

            
# create dataframe            
scores_by_size = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall
            
})

scores_by_size.index.name = "School Size"
scores_by_size = scores_by_size.reindex(group_names)

# re-format
scores_by_size.style.format({'Average Math Score': '{:.6f}', 
                              'Average Reading Score': '{:.6f}', 
                              '% Passing Math': '{:.6%}', 
                              '% Passing Reading':'{:.6%}', 
                              'Overall Passing Rate': '{:.6%}'})

## Scores by School Type

In [107]:
# group by school type
by_type = complete_data.groupby("type")

# get averages 
avg_math = by_type['math_score'].mean()
avg_read = by_type['math_score'].mean()
pass_math = complete_data[complete_data['math_score'] >= 70].groupby('type')['Student ID'].count()/by_type['Student ID'].count()
pass_read = complete_data[complete_data['reading_score'] >= 70].groupby('type')['Student ID'].count()/by_type['Student ID'].count()
overall = complete_data[(complete_data['reading_score'] >= 70) & (complete_data['math_score'] >= 70)].groupby('type')['Student ID'].count()/by_type['Student ID'].count()

# create dataframe            
scores_by_type = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall})
scores_by_type.index.name = "School Type"


# re-format
scores_by_type.style.format({'Average Math Score': '{:.6f}', 
                              'Average Reading Score': '{:.6f}', 
                              '% Passing Math': '{:.6%}', 
                              '% Passing Reading':'{:.6%}', 
                              'Overall Passing Rate': '{:.6%}'})